<div class="album py-5 bg-light">
<div class="container">
  <div class="row">
  <% @items.each do |item| %>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="http://placehold.jp/100x75.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><%= item.name %></h4>
          <p class="card-text"><%= item.description %></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <% end %>
    <%= paginate @items %>
</div>
</div>